@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after , *::before { box-sizing: border-box; }
li { list-style: none;}
a {text-decoration: none;}
body { font-family: sans-serif;}

img {
max-width: 100%;
height: auto;
display: block;
}

/* header {
  background-color: aqua;
} */

.navbar {
  padding-top: 3%;
  padding-left: 9.8%;
  padding-right: 6.2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  /* top: 20px; */
}

.heading h1 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.5px;
  color: #444444;
}

.heading p {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #8d8d8d;
  padding-bottom: 35px;
}

.nav-links a {
  color: #8d8d8d;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.ml-r {
  margin-right: 34px;
}

.current  {
  margin-left: 25px;
  margin-right: 25px;
  color: #fff !important;
  background: #1bbc9b;
  padding: 15px;
}

.banner {
  background: url(/img/banner.jpg) no-repeat center center/cover;
}

.banner p {
  color: #fff;
  font-size: 5rem;
  padding-bottom: 37.6%;
  opacity: 0;
}

.icons {
  display: none;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bars::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f0c9";
}

@media screen and (max-width: 850px) {
  .nav-links li:not(:last-child) { display: none;}
  .nav-links a.icons {
    display: block;
  }
}

/* portfolio section start */

.portfolio .wrapper {
  padding-top: 5%;
  padding-bottom: 5.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio h2 {
  font-size: 2.3rem;
  color: #444444;
  font-weight: 300;
  padding-bottom: 15px;
}

.portfolio p {
  font-size: 1.31rem;
  font-weight: 200;
  color: #494949;
  padding-bottom: 4.8%;
  max-width: 95%;
}

.btn-list li:not(:first-child) a {
  text-transform: uppercase;
}

.btn-list li:first-child a { text-transform: capitalize;}

.btn-list li a {
  padding: 17px;
  background: #1bbc9b;
  color: #fff;
  letter-spacing: 2px;
  margin-right: 20px;
  font-weight: 700;
}

.btn-list li:first-child a { background: #16a086;}

.btn-list { margin-bottom: 5.5%;}

.gallery-img img {
  height: 237px;
}

/* .gallery-img li {
  padding:20px
} */

/* .gallery-img img {
  height: 237px;
} */

/* figure {
  height: 239px;
}

img {  
  object-fit: cover;  
  }   */

.gallery-img ul {
  padding-left: 85px;
  padding-right: 85px;
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){

  .btn-list li a {
      padding: 8px;
      background: #1bbc9b;
      color: #fff;
      letter-spacing: 2px;
      margin-right: 15px;
      font-weight: 700;
      font-size: 0.9rem;
      justify-content: center;
  }

  .portfolio h2 {
      font-size: 2rem;
  }



}

@media screen and (max-width: 600px) {

  .btn-list {
      flex-direction: column;
      gap: 2rem;
      
  }

}

/* about section start */

.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5.2%;
}

.about { 
  background: #16a086;
  color: #fff;
}

.about-heading h2 {
  padding-bottom: 14px;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 100;
}

.about-heading p {
  font-size: 1.15rem;
  padding-bottom: 4%;
  max-width: 95%;
  text-align: center;
}

/* cards  */

.cards img {
  height: 300px;
  width: 290px;
}

.cards li {
  max-width: 290px;
  background: #fff;
  color: #333;
}

.cards {
  /* padding-left: 11.6%; */
  padding-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.cards h3 {
 text-align: center;
 text-transform: capitalize;
 font-weight: 100;
 font-size: 1.5rem;
 padding-top: 23px;
}

.cards span {
  padding-bottom: 25px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  font-style: italic;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #777;

}

.cards p {
  padding-right: 5px;
  padding-left: 13px;
  padding-bottom: 20px;
  font-weight: 500;
  color: #565656;
  max-width: 95%;
  line-height: 1.6;
  font-size: 1.1rem;
}

/* responsive css */

@media screen and (max-width: 1078px) {
  .cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  }



}